/* Fundo de vídeo */
#background-video {
  position: fixed;
  top: 0;
  left: 0;
  min-width: 100%;
  min-height: 100%;
  z-index: -1; /* Coloca o vídeo atrás do conteúdo */
  object-fit: cover;
  filter: brightness(50%); /* Ajuste opcional de brilho para melhor contraste */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f8f1f1;
  text-align: center;
  padding-top: 50px;
  margin: 0; /* Remove margens padrão do body */
}

/* Container principal */
.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Estilos do título */
h1 {
  color: #333;
  margin-bottom: 20px;
}

/* Estilos da barra de menu */
.sidebar {
  position: relative; /* Posiciona abaixo do título */
  background-color: rgba(255, 255, 255, 0.8); /* Fundo da barra */
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px; /* Aumenta a largura da barra */
  overflow: hidden; /* Esconde os botões inicialmente */
  transition: max-height 0.3s ease, width 0.3s ease; /* Transições suaves para altura e largura */
  max-height: 50px; /* Altura inicial da barra */
}

/* Expande verticalmente ao passar o mouse */
.sidebar:hover {
  max-height: 500px; /* Aumenta a altura expandida ao passar o mouse para mostrar todos os botões */
  width: 300px; /* Largura aumentada ao passar o mouse */
}

/* Estilo do botão de menu */
.toggle-button {
  padding: 10px; /* Espaçamento interno */
  background-color: transparent; /* Cor de fundo transparente */
  color: white; /* Cor do texto */
  border: 1px solid #ffffff; /* Borda branca */
  border-radius: 5px; /* Bordas arredondadas */
  cursor: pointer; /* Mão ao passar o mouse */
  font-size: 16px; /* Tamanho da fonte */
  transition: background-color 0.3s ease; /* Transição suave na cor ao passar o mouse */
  width: 100%; /* Ocupa toda a largura da barra */
}

/* Cor do botão de menu ao passar o mouse */
.toggle-button:hover {
  background-color: rgba(
    255,
    255,
    255,
    0.2
  ); /* Fundo claro ao passar o mouse */
}

/* Expande verticalmente ao passar o mouse */
.sidebar:hover {
  max-height: 400px; /* Altura expandida ao passar o mouse para mostrar todos os botões */
  width: 250px; /* Largura aumentada ao passar o mouse */
}

/* Container dos botões */
.button-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

/* Estilos dos botões */
.btn {
  padding: 10px;
  margin: 2px 0; /* Margem vertical para espaçamento */
  font-size: 16px; /* Tamanho da fonte dos botões */
  cursor: pointer;
  background-color: #007bff; /* Cor de fundo dos botões */
  color: white; /* Cor do texto */
  border: none; /* Sem borda */
  border-radius: 5px; /* Bordas arredondadas */
  transition: background-color 0.3s ease; /* Transição suave na cor ao passar o mouse */
  width: 100%; /* Botões ocupam 100% da largura da barra lateral */
}

.btn:hover {
  background-color: #0056b3; /* Cor ao passar o mouse */
}
