<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Componentes do Computador</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles13.css') }}"
    />
  </head>
  <body>
    <h1>COMPONENTES DO COMPUTADOR</h1>

    <div class="container">
      <div class="content">
        <div class="text">
          <p>
            O computador é composto por diversos componentes e a maioria está
            situada na placa-mãe (Motherboard).
          </p>

          <ul>
            <li>
              <button class="btn" onclick="abrirModal('modal-slot-ide')">
                Slot IDE
              </button>
            </li>
            <li>
              <button
                class="btn"
                onclick="abrirModal('modal-conector-fonte-24pinos')"
              >
                Conector Fonte 24 pinos
              </button>
            </li>

            <li>
              <button class="btn" onclick="abrirModal('modal-conector-sata')">
                Conector SATA
              </button>
            </li>
            <li>
              <button class="btn" onclick="abrirModal('modal-cpu')">CPU</button>
            </li>
            <li>
              <button class="btn" onclick="abrirModal('modal-chipset')">
                Chipset
              </button>
            </li>
            <li>
              <button class="btn" onclick="abrirModal('modal-Memoria-Ram')">
                Memoria-Ram
              </button>
            </li>
          </ul>
        </div>

        <!-- Imagem principal -->
        <img
          src="{{ url_for('static', filename='imagem.png') }}"
          alt="Motherboard"
          class="image"
          id="imagem"
          width="300"
          style="cursor: pointer"
          onclick="abrirModal('modal')"
        />
      </div>
    </div>

    <!-- Modal da imagem principal -->
    <div id="modal" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <div class="image-container">
          <img
            src="{{ url_for('static', filename='imagem.png') }}"
            alt="Motherboard"
            class="image"
            id="imagem"
            width="300"
            style="cursor: pointer"
          />
        </div>

        <button onclick="fecharModal()">Fechar</button>
      </div>
    </div>

    <!-- Modal para Slot IDE -->
    <div id="modal-slot-ide" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>Slot IDE</h2>
        <div class="text-slot-ide">
          <p>
            O slot IDE (Integrated Drive Electronics) é um conector usado para
            conectar dispositivos de armazenamento...
          </p>
          <img
            src="{{ url_for('static', filename='imagen1.jpg') }}"
            alt="Slot IDE"
            class="image-slot-ide"
          />
          <h3>Função do Slot IDE</h3>
          <ul>
            <li>
              <strong>Comunicação com o Disco:</strong> Permite a comunicação
              entre a placa-mãe e o dispositivo...
            </li>
            <!-- Outros itens -->
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Modal para Conector Fonte 24 pinos -->
    <div
      id="modal-conector-fonte-24pinos"
      class="modal"
      onclick="fecharModal()"
    >
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>Conector Fonte 24 pinos</h2>
        <div class="text-conector-fonte-24pinos">
          <p>
            O conector de fonte de 24 pinos é um dos conectores principais para
            alimentar a placa-mãe de um computador.
          </p>
          <img
            src="{{ url_for('static', filename='imagem3.jpg') }}"
            alt="Conector Fonte 24 pinos"
            class="image-conector-fonte-24pinos"
            width="300"
          />
          <h3>Função do Conector Fonte 24 pinos</h3>
          <p>
            O conector de 24 pinos distribui energia para diversos componentes
            da placa-mãe...
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Modal para Conector SATA -->
    <div id="modal-conector-sata" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>Conector SATA</h2>
        <div class="text-conector-sata">
          <p>
            O <strong>conector SATA (Serial ATA)</strong>
            é um tipo de interface usado para conectar dispositivos de
            armazenamento, como discos rígidos (HDDs), unidades de estado sólido
            (SSDs) e unidades ópticas, à placa-mãe de um computador.
          </p>
          <img
            src="{{ url_for('static', filename='imagem4.jpg') }}"
            alt="Conector SATA"
            class="image-conector-sata"
            width="300"
          />
          <h3>Função do Conector SATA</h3>
          <p>
            A função do conector SATA é transferir dados entre o dispositivo de
            armazenamento e a placa-mãe, permitindo que o sistema operacional e
            os aplicativos acessem informações armazenadas nesses dispositivos.
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Modal para cpu -->
    <div id="modal-cpu" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>CPU</h2>
        <div class="text-CPU">
          <p>
            O <strong> CPU (Unidade Central de Processamento)</strong>
            , também conhecido como processador, é o componente principal de um
            computador responsável por executar instruções e processar dados.
            Ele funciona como o "cérebro" do computador, realizando cálculos e
            executando tarefas a partir das instruções que recebe de programas e
            do sistema operacional.
          </p>
          <img
            src="{{ url_for('static', filename='imagem5.jpg') }}"
            alt="cpu"
            class="image-cpu"
            width="300"
          />
          <h3>Função do CPU</h3>
          <p>
            A função do CPU é interpretar e executar comandos, realizando
            operações aritméticas, lógicas e de controle, essenciais para o
            funcionamento de todos os programas e do sistema. Ele recebe dados
            da memória, processa-os e retorna os resultados, garantindo que as
            operações do computador sejam realizadas de forma eficiente e
            precisa.
          </p>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Modal  Chipset -->
    <div id="modal-chipset" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>chipset</h2>
        <div class="text-chipset">
          <p>
            Um <strong>chipset</strong>
            é um conjunto de circuitos integrados projetado para trabalhar em
            conjunto e gerenciar a comunicação entre os diferentes componentes
            de um computador, como a CPU, a memória, o armazenamento e os
            periféricos
          </p>
          <img
            src="{{ url_for('static', filename='imagem6.jpg') }}"
            alt="chipset"
            class="image-chipset"
            width="300"
          />
          <h3>Função do Chipset</h3>
          <ul>
            <li>
              <strong>Gerenciar a comunicação</strong> entre a CPU e outros
              dispositivos.
            </li>
            <li>
              <strong>Controlar o acesso</strong> à memória e aos dispositivos
              de armazenamento.
            </li>
            <li>
              <strong>Regulamentar os barramentos</strong> da placa-mãe,
              permitindo que diferentes componentes troquem dados.
            </li>
            <li>
              <strong>Gerenciar periféricos</strong> conectados, como portas USB
              e dispositivos PCIe.
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Modal  Chipset -->
    <div id="modal-chipset" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>chipset</h2>
        <div class="text-chipset">
          <p>
            Um <strong>chipset</strong>
            é um conjunto de circuitos integrados projetado para trabalhar em
            conjunto e gerenciar a comunicação entre os diferentes componentes
            de um computador, como a CPU, a memória, o armazenamento e os
            periféricos
          </p>
          <img
            src="{{ url_for('static', filename='imagem6.jpg') }}"
            alt="chipset"
            class="image-chipset"
            width="300"
          />
          <h3>Função do Chipset</h3>
          <ul>
            <li>
              <strong>Gerenciar a comunicação</strong> entre a CPU e outros
              dispositivos.
            </li>
            <li>
              <strong>Controlar o acesso</strong> à memória e aos dispositivos
              de armazenamento.
            </li>
            <li>
              <strong>Regulamentar os barramentos</strong> da placa-mãe,
              permitindo que diferentes componentes troquem dados.
            </li>
            <li>
              <strong>Gerenciar periféricos</strong> conectados, como portas USB
              e dispositivos PCIe.
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <!-- Modal Memoria-Ram -->
    <div id="modal-Memoria-Ram" class="modal" onclick="fecharModal()">
      <div class="modal-content" onclick="event.stopPropagation();">
        <h2>Memoria-Ram</h2>
        <div class="text-Memoria-Ram">
          <p>
            <strong>A memória RAM (Random Access Memory)</strong>
            é um tipo de memória volátil usada em computadores e dispositivos
            eletrônicos para armazenar dados temporariamente enquanto o sistema
            está em funcionamento.
          </p>
          <img
            src="{{ url_for('static', filename='imagem7.jpg') }}"
            alt="Memoria-Ram"
            class="image-Memoria-Ram"
            width="300"
          />
          <h3>Funções da Memória-RAM:</h3>
          <ul>
            <li>
              <strong>Armazenamento Temporário de Dados:</strong> A RAM é
              utilizada para guardar os dados e instruções que a CPU (Unidade
              Central de Processamento) precisa acessar rapidamente durante a
              execução de programas.
            </li>
            <li>
              <strong>Aumento da Velocidade:</strong> A RAM oferece acesso
              rápido aos dados, permitindo que a CPU execute operações de forma
              eficiente.
            </li>
            <li>
              <strong>Facilitação da Multitarefa:</strong> A RAM permite que os
              usuários alternem entre diferentes aplicativos sem perder dados ou
              eficiência.
            </li>
            <li>
              <strong>Cache de Dados:</strong> Em muitos sistemas, a RAM serve
              como uma camada de cache para dados que são frequentemente
              acessados, melhorando ainda mais a velocidade de processamento.
            </li>
          </ul>
          <div class="clear"></div>
        </div>
      </div>
    </div>

    <script src="{{ url_for('static', filename='js/Componentes_do_Computador.js') }}"></script>
  </body>
</html>
