<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Conector Fonte 24 pinos</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles13.css') }}"
    />
  </head>
  <body>
    <h2>Conector Fonte 24 pinos</h2>
    <p>
      O conector de fonte de 24 pinos é um dos conectores principais para
      alimentar a placa-mãe de um computador.
    </p>
    <img
      src="{{ url_for('static', filename='imagem3.jpg') }}"
      alt="Conector Fonte 24 pinos"
      class="image-conector-fonte-24pinos"
    />

    <h3>Função do Conector Fonte 24 pinos</h3>
    <p>
      O conector de 24 pinos distribui energia para diversos componentes da
      placa-mãe, garantindo que o processador, memória, chipset e outros
      dispositivos essenciais recebam a energia necessária para funcionar.
    </p>
    <br>Ele fornece várias tensões de saída, como 3.3V, 5V e 12V, cada uma para alimentar diferentes partes do sistema. </br>
  </body>
</html>
