<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Diagrama Ampliado</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='styles4.css') }}">
  </head>
  <body>
    <main class="container text-center">
      <h2>Visualização do Diagrama em Tamanho Grande</h2>
      <img src="{{ url_for('static', filename=diagrama.png) }}" alt="Diagrama Ampliado" class="img-fluid" style="max-width: 100%;" />
      <p><a href="{{ url_for('Pagina9') }}">Voltar</a></p>
    </main>
  </body>
</html>
