<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Microserviços</title>
</head>
<body>
    <h1>Microserviços</h1>
    <p>
        Microserviços são uma abordagem arquitetural para o desenvolvimento de software, onde uma aplicação é dividida em pequenos serviços independentes que se comunicam entre si.
        Cada serviço, ou "microserviço", é responsável por uma funcionalidade específica e executa de forma isolada. Diferente da arquitetura monolítica, onde todo o código é agrupado numa única aplicação, os microserviços permitem que cada componente seja desenvolvido, testado, implementado e mantido de forma separada.
    </p>
    <h3>Características dos microserviços: </h3>
    <p>1. Independência: Cada microserviço é autónomo e pode ser desenvolvido por equipas separadas, usando diferentes linguagens de programação ou tecnologias.</p>
    <p>2. Escalabilidade: Microserviços podem ser escalados de forma independente, permitindo que apenas as partes da aplicação que precisam de mais recursos sejam melhoradas.
    </p>
    <p>3. Descentralização: As bases de dados e a gestão de dados podem ser distribuídas, cada serviço pode ter a sua própria base de dados.</p>
    <p>4. Comunicação: Os microserviços comunicam entre si geralmente através de APIs (HTTP/REST ou mensagens assíncronas).</p>
    <h3>Vantagens:</h3>
    <li>Flexibilidade no desenvolvimento e nas escolhas tecnológicas.</li>
    <li>Maior facilidade de manutenção e atualização de funcionalidades sem afetar toda a aplicação.</li>
    <li>Melhor escalabilidade e resiliência.</li>
    <p>Implementar microserviços também tem desafios, como a complexidade na comunicação entre serviços, a necessidade de monitorização e a gestão distribuída dos dados.</p>

    <h3>Exemplo:</h3>
    <p>Imagina que estás a construir um brinquedo enorme com várias peças diferentes, como um carro com luzes, portas, rodas e rádio. Em vez de juntares tudo numa única peça grande, tu decides fazer cada parte separada: uma peça só para as luzes, outra só para as rodas, outra para o rádio, e assim por diante. Cada peça funciona sozinha e faz o seu próprio trabalho, mas, juntas, formam o teu carro completo.</p>
    <p> se quiseres melhorar só as rodas, podes mexer só nessa peça, sem ter de desmontar todo o carro. E se as luzes estiverem estragadas, não precisas de tocar no rádio para as arranjar.</p>
    
    <p>Os microserviços são como essas peças separadas. Cada um faz uma parte da aplicação (como o rádio, as luzes ou as rodas do carro), e juntos fazem a aplicação toda funcionar. Assim, é mais fácil construir, arranjar e melhorar, peça por peça.</p>
    
    
</body>
</html>