<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organização de um Computador</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>COMPUTADOR</h1>
    <p>
      Um computador é uma máquina eletrônica que processa dados de forma
      estruturada, seguindo uma sequência lógica de operações
    </p>
    <br>O é composto por componentes que recebem entradas, processam essas informações e geram saídas úteis; esses componentes sâo</br>
  </body>
</html>
 