<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Organização de um Computador</title>
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <h1>COMPUTADOR</h1>
    <p>
      Um computador é uma máquina eletrônica que processa dados de forma
      estruturada, seguindo uma sequência lógica de operações.
    </p>
    <p>
      O conmputador e composto por componentes que recebem entradas, processam
      essas informações e geram saídas úteis; que são
    </p>
    <ul>
      <li>Entrada (Input):</li>
      <li>Processamento</li>
      <li>Armazenamento</li>
      <li>Saída (Output)</li>
    </ul>
    <p>
      <strong>Entrada (input)</strong> refere-se aos dados ou comandos que um
      computador recebe de fontes externas para serem processados.
    </p>
    <p>
      . Esses dados podem ser inseridos de várias formas, geralmente por meio de
      dispositivos de entrada. Exemplos de dispositivos de entrada incluem
    </p>
    <ul>
      <li>
        <strong>Teclado: </strong>Para digitação de texto, números e comandos.
      </li>
      <li>
        <strong>Mouse: </strong>Para selecionar, arrastar e clicar em ícones ou
        botões na interface gráfica.
      </li>
      <li>
        <strong>Microfone: </strong> Para capturar som ou comandos de voz.
      </li>
      <li>
        <strong>Scanner: </strong>Para converter documentos físicos em imagens
        digitais.
      </li>
      <li>
        <strong>Sensores: </strong>Usados em dispositivos especializados (como
        smartphones) para captar informações como temperatura, movimento ou luz.
      </li>
    </ul>
    <p>
      <strong>Processamento </strong>Refere-se à etapa em que o computador
      manipula, transforma ou interpreta os dados recebidos na fase de entrada.
    </p>
    <p>principais aspectos do processamento:</p>
    <ul>
      <li>Execução de Instruções:</li>
      <li>Unidade de Controle</li>
      <li>Unidade Aritmética e Lógica (ALU)</li>
      <li>Memória de Curto Prazo (RAM)</li>
    </ul>
    <p>
      <strong>Armazenamento </strong>refere-se à função de um computador de
      salvar e reter dados, programas e informações para uso futuro, seja
      temporariamente ou permanentemente.
    </p>
    <p>Existem dois tipos principais de armazenamento:</p>
    <ul>
      <li>armazenamento temporário (volátil)</li>
      <li>armazenamento permanente (não volátil)</li>
    </ul>
    <p>
      <strong>Saída (Output) </strong> refere-se aos resultados ou informações
      processadas que o computador envia para fora, tornando-os acessíveis ao
      usuário ou a outros dispositivos
    </p>
    <p>
      Os dados são processados e o computrador os apresenta atraves dos
      dispositivos de saida:
    </p>
    <ul>
      <li>Monitor</li>
      <li>Impressora</li>
      <li>Caixas de Som</li>
      <li>Projetor:</li>
    </ul>
  </body>
</html>
