<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
      Documentação do Projeto Plataforma de Gerenciamento de Desempregados
    </title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles4.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Documentação Plataforma de Gerenciamento de Desempregados</h1>
    </header>

    <main class="container">
      <section id="introducao" class="introducao">
        <p>
          A Plataforma de Gerenciamento de Desempregados visa conectar
          candidatos ao mercado de trabalho, facilitando o processo de busca de
          emprego. Empresas cadastradas têm acesso a currículos de indivíduos
          que buscam oportunidades vocacionais, aumentando a eficiência nas
          contratações.
        </p>
      </section>

      <section id="objetivo" class="topicos">
        <h2>1. Objetivo do Projeto</h2>
        <p>
          A plataforma tem como objetivo principal gerenciar os cadastrados
          desempregados e facilitar a sua conexão com empresas que buscam novos
          talentos. A interface intuitiva permite que candidatos criem perfis
          atrativos, aumentando suas chances de contratação.
        </p>
      </section>

      <section id="tecnologia" class="topicos">
        <h2>2. Tecnologia Utilizada</h2>
        <p>
          Para o projeto, usaremos as seguintes linguagens de programação
          (Python, Java e C++) e como linguagem de marcação (HTML).
        </p>
      </section>

      <section id="modelagem-dados" class="topicos">
        <h2>3. Perfis</h2>
        <p>
          Após o registro, os desempregados devem criar de um perfil
          profissional atrativo. Isso inclui descrever habilidades, experiências
          anteriores e objetivos de carreira, aumentando as chances de serem
          notados pelas empresas cadastradas.
        </p>
      </section>

      <section id="persistencia-dados" class="topicos">
        <h2>4. Análise de Dados e Gráficos</h2>
        <p>
          A análise de dados desempenha um papel crucial na eficiência da
          plataforma, permitindo a visualização de informações relevantes sobre
          desemprego e contratações. Através de gráficos e estatísticas, é
          possível identificar tendências e áreas que necessitam de melhorias.
        </p>

      </section>
      
    </main>
    <section id="diagrama" class="topicos">
      <h2>5. Diagrama de Funcionamento</h2>
      <button id="btn-diagrama" class="btn">Exibir Diagrama</button>
    </section>
    
    <script>
      document.getElementById("btn-diagrama").addEventListener("click", function () {
        window.open("{{ url_for('static', filename='Diagrama.png') }}", '_blank');
      });
    </script>

  </body>
</html>
