<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Página Inicial</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='processamento_computacional.css') }}"
    />
  </head>
  <body>
    <!-- Video de fundo -->
    <video autoplay loop muted playsinline class="background-video">
      <source
        src="https://media.istockphoto.com/id/1629474406/de/video/digitales-datenschutz-sicherheitssymbol-bin%C3%A4rcode-welle-blauer-hintergrund.mp4?s=mp4-640x640-is&k=20&c=eXLN8zaOq6dSSKZe8FVfOqJjd52kx7i7FQxfvpPrsrU="
        type="video/mp4"
      />
    </video>

    <!-- Conteúdo principal -->
    <div class="container">
      <h1>Processamento Computacional</h1>
      <div class="button-container">
        <button class="btn" onclick="window.location.href='/pagina10'">
          Documentaçao
        </button>
        <button class="btn" onclick="window.location.href='/pagina11'">
          Organização de um Computador
        </button>
        <button class="btn" onclick="window.location.href='/pagina12'">
          Componentes do Computador
        </button>
        <button class="btn" onclick="window.location.href='/pagina13'">
          Processador
        </button>
        <button class="btn" onclick="window.location.href='/pagina14'">
          Unidade de memória
        </button>
      </div>
    </div>
  </body>
</html>
