<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Unidade de Memória do Computador</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='styles14.css') }}"
    />
  </head>
  <body>
    <header>
      <h1>Unidade de Memória do Computador</h1>
    </header>
    <main>
      <section>
        <h2>O que é Memória?</h2>
        <p>
          A memória é uma parte fundamental de um computador que armazena dados
          temporariamente ou permanentemente.
        </p>
      </section>
      <section>
        <h2>Estrutura da Memória</h2>
        <p>
          A memória do computador é organizada em uma estrutura hierárquica que
          permite o armazenamento e a recuperação de dados de forma eficiente.
          Essa estrutura inclui diferentes tipos de memória, que são agrupados
          com base em sua velocidade, capacidade e volatilidade.
        </p>
        <ul>
          <li>
            Memória Primária (RAM e ROM): A memória primária é onde os dados e
            instruções em uso são armazenados temporariamente. A RAM (Random
            Access Memory) é volátil e perde os dados quando o computador é
            desligado, enquanto a ROM (Read-Only Memory) é não volátil e
            armazena dados permanentemente.
          </li>
          <li>
            Memória Secundária (HDD/SSD): Armazena dados permanentemente e é
            utilizada para guardar arquivos, programas e o sistema operacional.
          </li>
        </ul>
      </section>
      <section>
        <h2>Células de Memória</h2>
        <p>
          Uma célula de memória é a unidade básica de armazenamento na memória
          de um computador. Cada célula pode armazenar um bit de informação, que
          pode ser um 0 ou um 1. As células de memória são organizadas em uma
          matriz, onde cada célula é endereçada por um número único.
        </p>
        <h3>Funcionamento:</h3>
        <ul>
          <li>
            Leitura: Para acessar os dados em uma célula de memória, o
            controlador de memória utiliza o endereço da célula para "ler" o
            valor armazenado.
          </li>
          <li>
            Gravação: Quando novos dados são gravados, o controlador escreve o
            valor desejado na célula correspondente.
          </li>
        </ul>
      </section>
      <section>
        <h2>Modos de Endereçamento</h2>
        <p>
          Os modos de endereçamento determinam como o endereço da memória é
          especificado durante a execução de um programa
        </p>
        <ul>
          <li>
            Endereçamento Direto: O endereço da memória é especificado
            diretamente na instrução.
          </li>
          <li>
            Endereçamento Indireto: O endereço da memória é armazenado em um
            registrador, e a instrução se refere a esse registrador
          </li>
          <li>
            Endereçamento por Deslocamento: Combina um endereço base com um
            deslocamento para calcular o endereço final
          </li>
          <li>
            Endereçamento Registrado: Usa um registrador específico como o
            endereço de memória.
          </li>
        </ul>
      </section>
      <section>
        <h2>Medindo a Capacidade da Memória</h2>
        <p>
          A capacidade da memória é medida em bytes, onde 1 byte é igual a 8
          bits. As capacidades podem ser representadas em diferentes unidades:
        </p>
        <ul>
          <li>1 KB = 1.024 bytes</li>
          <li>1 MB = 1.024 KB</li>
          <li>1 GB = 1.024 MB</li>
          <li>1 TB = 1.024 GB</li>
        </ul>
      </section>
      <section>
        <h2>Tipos de Memória</h2>

        <ul>
          <li>
            Memória RAM (Dinâmica e Estática): Utilizada para armazenar dados
            temporariamente enquanto o computador está ligado
          </li>
          <li>
            Memória ROM: Armazena firmware e dados permanentes que não mudam.
          </li>
          <li>
            Memória Cache: Uma memória de alta velocidade usada para armazenar
            dados frequentemente acessados pela CPU.
          </li>
          <li>
            Memória Flash: Usada em dispositivos USB e SSDs, é uma forma de
            memória não volátil.h
          </li>
        </ul>
      </section>
    </main>
    <footer>
      <p>© 2024 Unidade de Memória do Computador</p>
    </footer>
  </body>
</html>